<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/form.css">
    <title>Blog</title>
</head>
<body>
    <% if(locals.about){%>
            <p>question: <%= about.title %></p>
            <p>id: <%= about.id %></p>
            <p>topic: <%= about.topic %></p>
            <p>name: <%= about.name %></p>
            <p>text: <%= about.text %></p>

    <%}else{%>
        <p class="empty">This post doesn't exist</p>
    <%}%>
</body>
</html>